*:focus {
  outline: none;
}

.delete {
  position: absolute;
  border: none;
  color: red;
  font-size: 12px;
  outline: none;
  background: none;
  left: 200px;
}
.delete:active {
  color: blue;
}

ul li{
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  user-select: none;
}

.done {
  text-decoration: line-through;
}

input {
  background-color: white;
  border: 1px solid rgb(209, 209, 209);
  padding: 10px;
}

#enter {
  padding: 10px;
  color: rgb(255, 255, 255);
  background: linear-gradient(to right, rgb(150, 56, 72), rgb(175, 57, 77));
  border: 1px solid rgb(199, 199, 199);
}

ul {
  padding-left: 10px;
}